.food {
    display: flex;
    flex-direction: column;
}

.map {
    width: 100px;
    height: 200px;
    margin: 300px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}