.Landing {
    text-align: center;
    padding: 20px;
  
    h1 {
        font-family: 'Krub', sans-serif;
        font-style: italic;
        font-size: 28px;
        margin-bottom: 20px;
    }
  
    .PageButtons {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        // flex-direction: column;

        flex-direction: row; 
        align-items: stretch;
        justify-content: space-between;
        padding: .1em;
  
      button {
        flex: 1;
        background-color: #BEEFF3;
        color: black;
        font-family: 'Krub', sans-serif;

        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
            background-color: #75BFC4;
        }
      }
    }

    .login {
        position: fixed;
        bottom: 10px;
        left: 10px;
        color: #000000;
        cursor: pointer;
        margin-left: 20px;
        margin-bottom: 20px;

        button{
            background-color: #008CBA;
            font-family: 'Krub', sans-serif;
            color: white;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
            
      }
      
}
  