.Login {
    flex-direction: column;
    text-align: center;
}

.Login .login {
    margin-top: 100px;
    font-family: 'Krub', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.Login form {
    text-align: center;
    margin-top: 50px;
    font-family: 'Krub', sans-serif;
}

.Login form input {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    width: 200px;
    background-color: #BEEFF3;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.Login form button {
    display: block;
    margin: 40px auto;
    width: 200px;
    padding: 10px 15px;
    background-color: #BEEFF3;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.Login form button:hover {
    background-color: #75BFC4;
}
