.MyEvents {
    text-align: center;
  }

.title {
    font-family: 'Krub', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
  
  .service-card {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px; /* Adjust as needed */
  }
  
  .service-card h2 {
    margin-bottom: 10px;
  }
  
  .service-details {
    display: flex;
    justify-content: space-between;
  }
  
  .service-details p {
    margin: 0;
  }
  
  .description {
    margin-top: 10px;
  }