.ServiceLanding {
    text-align: center;
    padding: 20px;
    flex-direction: column;
}

.ServiceLanding .loginText {
    font-family: 'Krub', sans-serif;
    font-style: italic;
    font-size: 28px;
    margin-bottom: 20px;
}

.ServiceLanding .title {
    font-family: 'Krub', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.ServiceLanding .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-direction: column; 
    align-items: stretch;
    justify-content: space-between;
    padding: .1em;
}

.ServiceLanding .buttons button {
    display: block;
    margin: 10px auto;
    width: 200px; 
    padding: 10px 15px;
    background-color: #BEEFF3;
    color: black;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.ServiceLanding .buttons button:hover {
    background-color: #75BFC4;
}